body{
    margin: 0;
}

#image_circle{
    width: 100%;
}
.image_footer{
    border: 4% steelblue;
    width: 20%;
    padding: 6%;
    border-radius: 50%;
}
footer{
    background-color: gray;

}


#image_desk{
    border: 4% steelblue;
    width: 20%;

}